body {
  background-color: #75B9BE;
}
h1 {
  text-align: center;
  color : #EF3E36;
}
h2 {
  text-align: center;
  color: #EF3E36;
}
p {
  color: #EF3E36;
}
h4, h5{
/*   margin-left: 30%; */
/*   margin-top: 60%; */
  color: #EF3E36;
}
.container {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  display: flex;
  justify-content: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.column {
  width: 30%;
  padding: 25px 0px;
}

.images img {
  display: block;
  height: 100px;
  width: auto;
/*   margin-left: 30%; */
/*   margin-top: 20%; */
}
.songs p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.artists p {
  font-size: 18px;
  height: 100px;
  margin: 20px;
}

.lengths p {
  font-size: 16px;
  height: 100px;
  margin: 20px;
  text-align: right;
}

.links a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  margin: 20px;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
    border-radius: 10%;
  border: yellow solid 2px;
}

button {
  font-size: 14px;
  padding: 5px 10px;
 border-radius: 10%;
  border: yellow solid 2px;
  background-color: lightblue;
}
